body {
  overflow-x: hidden;
  overflow: scroll;
  font-family: Poppins-Regular;
  font-size: 17px;
}

table {
  background-color: #F5F5F5;
  margin: auto;
  font-size: 12px;
}

.demo-table {

  background: white;
  padding: 30px 20px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.65);
  background-repeat: repeat-y;
}

.demo-table th,
.demo-table td {
  border-top: 1px solid #e1edff;
  border-bottom: 1px solid #e1edff;
  border-left: 1px solid #D3D3D3;
  padding: 7px 10px;
}

.demo-table thead th {
  background-color: #F8F8FF;
  color: black;
  text-transform: uppercase;
}

.page-footer {
  margin-top: 320px;
  background-color: #F5F5F5;
  color: #F8F8FF;
}

.border-right {
  background-color: black;
}

form {
  background-color: white;
  text-align: center;
  margin: 3rem auto 8.1rem auto;
}

.page-footer {
  background-color: #F5F5F5
}

a {
  color: black;
  text-decoration: none;
}

tbody {
  background-color: white;
}

.mt-4 {
  text-align: center;
}