body {
      overflow-x: hidden;
    }

table{
  background-color: #F5F5F5;
}

.page-footer{
    margin-top:320px;
    background-color: #F5F5F5;
    color: white;
      }

.border-right{
  background-color: black;
}

.sidebar-heading{
  font-style: serif;
}

form {
  background-color: white;
  text-align: center;
  margin: 3rem auto 8.1rem auto;
}

.page-footer{
  background-color: #F5F5F5 
}

a{
  color: black;
  text-decoration: none;
}

tbody{
  background-color: white;
}

.mt-4{
  text-align: center;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }

 

